version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: acp
      POSTGRES_PASSWORD: acp
      POSTGRES_DB: acp
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg://acp:acp@db:5432/acp
      APP_ENV: development
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./policies:/app/policies
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    depends_on:
      - db
volumes:
  db_data:
